html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #212121;
}

.timer {
  display: flex;
  justify-content: center;
  color: #fff;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.value {
  font-size: 50px;
}

.label {
  text-align: center;
  color: #ababab;
}

.digit {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid white;
}
